# Object files
*.o
*.ko
*.obj
*.elf
*.crf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
*.build_log.*

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Dirs
MDK-ARM/Objects/
MDK-ARM/Listings/
